::-webkit-input-placeholder {
    font-weight: 100;
    /* font-style: italic; */
    color: #808080;
    opacity: 0.5;
}

::-moz-placeholder {
    font-weight: 100;
    /* font-style: italic; */
    color: #808080;
    opacity: 0.5;
}

:-moz-placeholder {
    font-weight: 100;
    /* font-style: italic; */
    color: #808080;
    opacity: 0.5;
}

:-ms-input-placeholder {
    font-weight: 100;
    /* font-style: italic; */
    color: #808080;
    opacity: 0.5;
}

:focus::-webkit-input-placeholder {
    color: transparent
}

:focus::-moz-placeholder {
    color: transparent
}

:focus:-moz-placeholder {
    color: transparent
}

:focus:-ms-input-placeholder {
    color: transparent
}

img{
    width: 100%;
}

.hide{
    display: none !important;
}

.archive{
    opacity: .5;
}

.sideMenu{
    background-color: #eee;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 360px;
    z-index: 1;
}

.topBar{
    align-items: center;
    display: flex;
    font-size: 18px;
    padding: 0px 10px;
    justify-content: space-between;
    height: 50px;
}

.mainBlock,
.accBlock{
    padding-top: 30px;
    text-align: center;
}

.accBlock{
   margin-bottom: 50px;
}

.mainLogo,
.accLogo{
    margin: 20px auto;
    height: 48px;
    width: 48px;
}

.mainLogo img,
.accLogo img{
    /* width: 100%; */
}

.mainName,
.accName{
    font-size: 24px;
    font-weight: 700;
}

.accStatus{
    font-size: 20px;
    margin-top: 5px;
}

.accBalance{
    font-size: 26px;
    margin-top: 10px;
}

.accOptionsBlock{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.mainPages,
.accPages,
.incomeFilter{
    display: flex;
    justify-content: space-around;
    padding: 0px 10px;
    margin: 50px 0px;
}

.incomeFilter{
    margin: 30px 0px 15px 0px;
}

.incomeFilterItem{
    padding: 3px 6px;
}

.incomeFilterItemActive{
    background-color: #808080;
    color: #fff;
    font-weight: 700;
}

.accPages{
    margin: 50px 0px 10px 0px;
}

.mainPage,
.accPage,
.sidePage{
    cursor: pointer;
    padding: 5px;
}

.sidePage{
    margin-top: 15px;
}

.accPage{
    opacity: .5;
}

.accPageActive{
    font-weight: 700;
    opacity: 1;
}

.mainPageImg,
.accPageImg,
.sidePageImg{
    margin: 0 auto;
    height: 32px;
    width: 32px;
}

.mainPageImg img,
.accPage img,
.sidePageImg img{
    /* width: 100%; */
}

.mainPageName,
.accPageName,
.sidePageName{
    margin-top: 10px;
    text-align: center;
}

.sidePageNameClose{
    font-weight: 700;
    margin-top: 3px;
}

.list{
    border-top: 1px solid #d0d0d0; 
}

.incomeLineDate{
    text-align: center;
    padding-top: 5px;
    margin-bottom: 5px;
}

.accLine,
.incomeLineBottom,
.category{
    align-items: center;
    border-bottom: 1px solid #d0d0d0;
    display: flex;
    padding: 10px;
}

.archiveCategory{
    background-color: #eee;
    opacity: 0.5;
}

.incomeLineBottom{
    justify-content: space-between;
    padding: 0px 10px 15px 10px;
}

.incomeLineLeft{
    text-align: left;
}

.incomeLineRight{
    text-align: right;
}

.incomeLineCat,
.incomeLineSumm{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.incomeLineSubCat,
.incomeLineAccount{
    font-size: 16px;
}

.accLineImg{
    margin-right: 15px;
    width: 40px;
}

.accLineImg img{
    /* width: 100%; */
}

.accLineCenterBlock,
.categoryCentralBlock{
    font-size: 18px;
}

.accLineName,
.categoryName{
    font-weight: 700;
}

.accLineBalance,
.subCategories{
    margin-top: 5px;
    font-size: 16px;
}

.accLineRightBlock,
.categoryRightBlock{
    margin-left: auto;
    text-align: right;
    font-size: 14px;
}

.categoryRightBlock{
    display: flex;
    justify-content: space-around;
}

.accLineOptionsTop{
    margin-bottom: 5px;
}

.addAccountInput,
.accCurrency,
.addIncomeInput,
.addIncomeSelect,
#addIncomeNote,
#addExpenseNote,
.addIncomeDate,
.addExpenseDate,
.addExpenseCat,
.addExpenseSubCat,
.addExpenseSelect,
.addExpenseInput,
.addCategoryInput{
    border: 1px solid #c7c7c7;
    color: #808080;
    display: block;
    font-size: 20px;
    margin: 20px auto;
    padding: 15px 15px;
    width: 85%;
}

.addCategoryInput{
    margin-top: 5px;
}

.addSubCategoryInput{
    margin-right: 15px;
    margin-bottom: 0px;
    width: 65%;
}

.addCategoryLabel{
    font-size: 20px;
    margin-left: 20px;
}

.addIncomeDate,
.addExpenseDate{
    margin-left: 15px;
    width: 76%;
}

.addIncomeForm,
.addExpenseForm{
    margin: 0 auto;
    width: 90%;
}

.addCategoryForm{
    padding-top: 20px;
}

.addCategoryTitle{
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0px;
    text-align: center;
}

.addIncomeSelect,
.addExpenseCat,
.addExpenseSubCat,
.addExpenseSelect{
    margin: 20px 0px 20px 15px;
}

.addIncomeSummBlock,
.addExpenseSummBlock{
    display: flex;
    justify-content: space-around;
}

.addIncomeSumm,
.addExpenseSumm{
    width: 40%;
}

.addIncomeCurrency,
.addExpenseCurrency{
    width: 12%;
}

.accCurrency{
    margin: 20px 0px 20px 15px;
    width: 50%;
}

.accCurrency option:first-child{
    font-style: italic;
}

.addAccountButton,
.addIncomeButton,
.addExpenseButton{
    -webkit-appearance: none;
    border: 1px solid #eee;
    background-color: #808080;
    color: #fff;
    cursor: pointer;
    display: block;
    padding: 15px 50px;
    margin: 0 auto;
    font-size: 20px;
}

.LoginButton:hover {
    border: 1px solid #bababa;
}

.addAccountCheckboxBlock{
    align-items: center;
    display: flex;
    padding: 0px 0px 15px 15px;
    margin-bottom: 20px;
}

.addAccountCheckboxBlock input{
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

#isCredit{
    margin-left: 10px;
}

.addAccountCheckboxBlock label{
    font-size: 20px;
}

.button,
.addAccount,
.addIncome,
.addAccountButton,
.delAccount{
    background-color: #808080;
    color: #fff;
    display: block;
    padding: 15px 20px;
    font-size: 22px;
    width: 64%;
    margin: 40px auto;
    text-align: center;
    border-radius: 10px;
}

.disabledButton{
    opacity: 0.3;
}

#addIncomeNote{
    resize: none;
}

.accStatus-2{
    background-color: #eee;
    opacity: .5;
}

.toArchive,
.incomeLine{
    text-align: center;
    margin-top: 5px;
}

.categoryContent{
    margin-top: 15px;
}

.tabs{
    background-color: #eee;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    margin-bottom: 20px;
}

.tab{
    cursor: pointer;
    width: 50%;
    text-align: center;
    padding: 15px 0px;
}

.tabActive{
    background-color: #808080;
    color: #fff;
    font-weight: 700;
}

.checkboxBlock{
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: start;
    padding: 0px 20px 20px 20px;
}

.addSubCategoryButton{
    height: 32px;
    width: 32px;
}

.addSubCategoryButton img{
    /* width: 100%; */
}

.addSubCategoryTitle{
    font-size: 20px;
    padding-left: 10px;
}

.addSubCategoryBlock{
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.delSubCategory{
    position: relative;
    top: -40px;
    right: -370px;
    height: 24px;
    width: 24px;
}

.delSubCategory img{
    /* width: 100%; */
}

.delCategory,
.archCategory{
    margin-right: 10px;
}

.delCategory,
.editCategory,
.archCategory,
.activateCategory{
    height: 24px;
    width: 24px;
}

.catStatus{
    margin-top: 10px;
    font-size: 20px;
}

.buttonsBlock{
    display: flex;
    justify-content: space-around;
}

.buttonCategory{
    width: 35%;
}